* {
	font-family: source code pro regular;
	font-size: 9px;
	border: none;
}

window {
	background-color: rgba(0,0,0,0);
}

window#waybar {
	transition-property: background-color;
	transition-duration: 0.5s;
}

.modules-right {
	background-color: #1e222a;
	color: #61afef;
	border: 3px solid rgba(0,0,0,0);
	border-radius: 90px;
	background-clip: padding-box;
	margin: 2px 4px 5px 4px;
}

window#waybar.hidden {
	opacity: 0.3;
}

#workspaces button {
	padding: 0 5px;
	min-width: 20px;
	color: #61afef;
}

#workspaces button.urgent {
	color: #e06c75;
}

#workspaces button.focused {
	color: #c678dd;
}

#custom-firefox {
	transition-property: background-color;
	transition-duration: 0.5s;
}

#workspaces, #custom-firefox, #clock {
	color: #61afef;
	background-color: #1e222a;
	padding: 0 10px;
	margin: 2px 4px 5px 4px;
	border: 3px solid rgba(0,0,0,0);
	border-radius: 90px;
	background-clip: padding-box;
}

#pulseaudio, #network, #bluetooth, #disk, #tray {
	padding: 0 10px;
}

/*
	--base00 #c678dd;
	--base01 #1r222a;
	--base02 #abb2bf;
	--base03 #12151d;
	--base04 #61afef;
*/

