* {
	font-family: source code pro regular;
	font-size: 9px;
	border: none;
}

window {
	background-color: rgba(0,0,0,0);
}

window#waybar {
	color: #abb2bf;
	transition-property: background-color;
	transition-duration: 0.5s;
}

window#waybar.hidden {
	opacity: 0.5;
}

#workspaces button {
	padding: 0 5px;
	min-width: 20px;
}

#workspaces button.urgent {
	color: #e06c75;
}

#workspaces button.focused {
	color: #c678dd;
}

#custom-firefox {
	transition-property: background-color;
	transition-duration: 0.5s;
}

#workspaces, #custom-firefox,  #mode, #disk, #battery, #clock, #tray {
	color: #61afef;
	background-color: #1e222a;
	padding: 0 10px;
	margin: 2px 4px 5px 4px;
	border: 3px solid rgba(0, 0, 0, 0);
	border-radius: 90px;
	background-clip: padding-box;
}

/*
#battery.full {
	color:	rgba(0,0,0,0.5);
}

#battery.warning {
	color: rgba(0,0,0,0.7);
}

#battery.low {
	color: rgba(0,0,0,1);
	background: rgba(255,0,0,1);
}
*/

/*
	--base00 #c678dd;
	--base01 #1r222a;
	--base02 #abb2bf;
	--base03 #12151d;
	--base04 #61afef;
*/

